<script src="/admin/static/js/core.js?v=1"></script>
<script src="/admin/static/js/nav.js?v=1"></script>
<script src="/admin/static/js/forms.js?v=1"></script>
<script src="/admin/static/js/projects.js?v=1"></script>
<script src="/admin/static/js/servers.js?v=1"></script>
<script src="/admin/static/js/players.js?v=1"></script>
<script src="/admin/static/js/config.js?v=1"></script>
<script src="/admin/static/js/java.js?v=1"></script>
<script src="/admin/static/js/init.js?v=1"></script>
</body>
</html>
